defaults
    mode http
    timeout connect 5000ms
    timeout client 50000ms
    timeout server 50000ms

frontend http_front
   bind *:80
   default_backend http_back

backend http_back
   balance roundrobin
   server app1 app1:8080 check
   server app2 app2:8080 check
   server app3 app3:8080 check
